@import "tailwindcss";

@theme {
    --breakpoint-xl: 1200px;
}
@custom-variant dark (&:where(.dark, .dark *));
* {
    box-sizing: border-box;
    /* margin: 0; */
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.dark .MuiDataGrid {
  background-color: #111c44 !important;
  color: #ffffff !important;
}

.dark .MuiDataGrid-columnHeaders {
  background-color: #111c44 !important;
  color: #ffffff !important;
  border-bottom: 1px solid #000 !important;
}
.dark .MuiDataGrid-columnHeader {
  background-color: #111c44 !important;
}
.dark .MuiDataGrid-virtualScroller {
  background-color: #111c44 !important;
}
.dark .MuiDataGrid-columnSeparator {
  display: none;
}
.dark .MuiDataGrid-scrollbarFiller {
  display: none;
}
.dark .MuiDataGrid-columnHeaderTitle{
  color: #ffffff !important;
}

.dark .MuiDataGrid-cell {
  background-color: #111c44 !important;
  color: #ffffff !important;
}

.apexcharts-canvas{
  margin:auto !important;
}

.dark .MuiPickersArrowSwitcher-button{
  background-color: #7551FF !important;
}
.dark .MuiPickersCalendarHeader-label{
  color: white !important;
}
.dark .MuiPickersDay-root{
  color: white !important;
}
.dark .MuiDateCalendar-root{
  background-color: #1B254B ;
  border-radius: 5%;
}
.dark .MuiDayCalendar-weekDayLabel{
color: #ffffff !important;
}
.dark .MuiYearCalendar-button{
color: #ffffff !important;
}
.dark .MuiPickersDay-root.Mui-selected{
background-color: #7551FF !important;
}
.dark .MuiPickersDay-root.Mui-selected:hover{
background-color: #7551FF !important;
}


.dark .MuiPaper-root {
  background-color: #111C44;

}
.dark .MuiTableCell-root{
  color: white;

}
.MuiLinearProgress-bar{
  background-color: #422AFB !important;
}
.dark .MuiLinearProgress-bar{
  background-color: #7551FF !important;
}